.git
.gitignore
.gitattributes

*.md

**/Dockerfile
**/docker-compose*.yml
**/.dockerignore

**/bin/
**/obj/
**/out/

.vs/
.vscode/
*.user
*.suo

**/packages/

*.db
*.mdf
*.ldf

.env
**/appsettings.Development.json
**/appsettings.Production.json

**/node_modules/

.DS_Store
Thumbs.db